:root {
  --color-white: #ffffff;
  --color-light-blue: #f9fcff;
  --color-light-orange: #ff9c56;
  --color-orange: #f97706;
  --color-blue: #255791;
}

::selection {
  background-color: #255791a7;
  color: var(--color-white);
}
