@import './base.css';

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: var(--color-blue);
  font-family: epilogue, sans-serif;
  background-color: var(--color-light-blue);
  overflow-x: clip;
}

/* hide scrollbar */
/* * {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
} */

/* Pages */
.screen {
  height: 100vh;
}

.burger-orange {
  background-color: var(--color-light-orange);
  color: var(--color-white);
}

/* @media (max-width: 992px) {
  .screen {
    min-height: 100vh;
    height: auto;
  }
} */

/* Fonts */

h1 {
  font-family: arima, sans-serif;
  font-size: 120px;
  font-weight: 600;
  color: var(--color-white);
  line-height: 1;
}

h2 {
  font-family: arima, sans-serif;
  font-size: 51px;
  font-weight: 400;
  line-height: 54px;
}

h3 {
  font-family: epilogue, sans-serif;
  font-size: 25px;
  font-weight: 300;
  color: var(--color-orange);
}

p {
  font-family: epilogue, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
}

strong {
  font-family: epilogue, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 27px;
}

em {
  font-family: arima, sans-serif;
  font-size: 23px;
  font-weight: 300;
  line-height: 30px;
}

.quote {
  font-family: arima, sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: normal;
}

@media (max-width: 768px) {
  h1 {
    font-size: 53px;
    line-height: 50px;
  }

  h2 {
    font-size: 40px;
    line-height: 41px;
  }

  p {
    font-size: 18px;
    line-height: 23px;
  }

  strong {
    font-size: 18px;
    line-height: 23px;
  }

  em {
    font-size: 19px;
    line-height: 23px;
  }

  .quote {
    font-size: 24px;
    line-height: 26px;
  }
}

/* Highlight Bootstrap */
/* .row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^='col-'] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
} */
